<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logPath">log/</Property>
        <Property name="rollingFileName">log</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{10} - %msg%n"
                           disableAnsi="false"/>
        </Console>
        <RollingFile name="rollingFile"
                     immediateFlush="false"
                     fileName="${logPath}/${rollingFileName}.txt"
                     filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.txt">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%-5level] %c{1}.%M() - %m%n"/>
            <SizeBasedTriggeringPolicy size="200kb" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>