<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">log/</Property>
        <Property name="rollingFileName">log</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%-5level}] %d{dd.MM.yyyy HH:mm:ss} %L  %c{1}.%M() - %m%n%throwable{short.lineNumber}"/>
        </Console>
        <RollingFile name="rollingFile"
                     immediateFlush="false"
                     fileName="${logPath}/${rollingFileName}.txt"
                     filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd-hh-mm-ss}.txt">
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss} %c{1}.%M() - %m%n%throwable{short.lineNumber}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy interval="2" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>